<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if request.method == "GET" %}
    <form action="" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Convert">
    </form>
    
    {% endif %}

    {% if request.method == "POST" %}
        {% if valid  == False %}
        <form action="" method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Convert">
        </form>
        {% else %}    
        <div>
            {{ previousValue }} {{ previousUnit }} equals {{ newValue }} {{ newUnit }}
        </div>
        <div>
            <button type="button" onclick="window.location.href ={% url 'Units:temperature'%}">Go back</button>
        </div>
        {% endif %}
    {% endif %}
        
        
</body>
</html>